<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content="width: device-width, initial-scale=1.0">

    <title>Restaurant Apps Starter Project</title>
</head>

<body>

    <noscript>Please enable Javascript to run this app</noscript>

    <div id='root__application'>

    </div>

    <!--<footer>
        <section class='footer-left'>
            <p>Copyright @2020 By Alexzander Purwoko</p>
        </section>

        <section class='footer-right'>
            <p>@DicodingIDN</p>
        </section>
    </footer>-->
</body>

</html>