<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content="width: device-width, initial-scale=1.0">

    <title>Restaurant Apps Starter Project</title>
</head>

<body>

    <header>
        <a id='menu' class='menu_header'>☰</a>
        <div class='logo_brand'>
            <img class='logo_brand_icon' alt='Restaurant Icon' src="">
            <h1 class='logo_brand_title'>MakanYuk</h1>
        </div>
        <nav class='nav_drawer' id='nav'>
            <ul class='nav_list'>
                <li class='nav_item'>Home</li>
                <li class='nav_item'>Favorite</li>
                <li class='nav_item'>About Us</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class='hero'>
            <div class='hero__image' id='image__hero_main'>
                <!-- Will be programmed in Javascript -->
            </div>

            <div class='hero__text' id='explain__text_hero'>
                <p id='text_container'></p>
            </div>
        </section>

        <section class='main' id='main_content'>
            <div class='title_main'>
                <h1>Let's Explore the Restaurant!</h1>
            </div>

            <div class='content' id="list__restaurant">
                <!-- Will be programmed in Javascript -->
            </div>
        </section>
    </main>

    <footer>
        <section class='footer-left'>
            <p>Copyright @2020 By Alexzander Purwoko</p>
        </section>

        <section class='footer-right'>
            <p>@DicodingIDN</p>
        </section>
    </footer>
</body>

</html>